#facebook{
	margin-top:30px;
	float:left;
}
.facebook_block{
	background-color:#9FC0FF;
	border:2px solid #3B5998;
	float:left;
	height:30px;
	margin-left:5px;
	width:8px;
    opacity:0.1;
	-webkit-transform:scale(0.7);
	-webkit-animation-name: facebook;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-direction: linear;
	
	}
#block_1{
 	-webkit-animation-delay: .3s;
 }
#block_2{
 	-webkit-animation-delay: .4s;
}
#block_3{
 	-webkit-animation-delay: .5s;
}
@-webkit-keyframes facebook{
	0%{-webkit-transform: scale(1.2);opacity:1;}
	100%{-webkit-transform: scale(0.7);opacity:0.1;}
}

#bg_pic {
	padding: 20px;
	border: 2px solid #3B5998;
	background-image:url('../image/loading-b.gif');
	/*background-size: contain;*/
	background-position: -10% 10%;
	background-repeat: no-repeat;
	background-color: #ccc;
	background-clip: padding-box;
	width: 80%;
	height: 80%;
	overflow: auto;
}

/*#inner {
	width: 500px;
	height: 500px;
	background-color: blue;
}*/