body {
	margin: 0px;
	position: relative;
}
/*div {
	 background: #417690; 
	 width: 250px; 
	 height: 15%;
	 position: absolute;
	 margin-bottom: -100px;
	 padding: 20px;
}*/
.relative { 
	background: #ff6a00; 
	position: relative; 
	width: 200px; 
	height: 300px; 
	top: 20px; 
	left: 50px; 
	z-index: 10;
}

.absolute { 
	background: yellow; 
	position: relative; 
	width: 200px; 
	height: 100px; 
	top: 20px; 
	left: 50px; 
	z-index: 5;
}

.test { 
	background: green; 
	position: relative; 
	width: 200px; 
	height: 100px; 
	top: 20px; 
	left: 50px; 
}

.change {
	 background: #417690; 
	 width: 250px; 
	 height: 200px;
	 position: static;
	 /*margin-bottom: -100px;*/
	 /*padding: 20px;*/
}

#div1 {
	height: 50px;
	/*line-height: 50px;*/
	width: 100px;
	text-align: left;
	background-color: gold;
	position: static;
	margin: 10px;
	vertical-align: baseline;
	display: inline-block;
}

#div2 {
	height: 50px;
	/*line-height: 50px;*/
	width: 100px;
	text-align: right;
	background-color: gray;
	position: static;
	margin: 10px;
	vertical-align: middle;
	display: inline-block;
}

#div3 {
	height: 50px;
	/*line-height: 50px;*/
	width: 100px;
	text-align: center;
	background-color: peru;
	position: static;
	margin: 10px;
	vertical-align: text-bottom;
	display: inline-block;
}